{% extends 'base.html' %} 
{% load static %}
{% block content %}
<script type="text/javascript" src="{% static 'reser.js' %}" defer></script>
<section id="res">
<div style="display:flex; ">
<div style="display:block; margin: 5vw; margin-top:2vh">
<h1 style="text-align:center; color: #222;"> Tech Stack </h1>
<div class="info-cont" style="background: #fff;">
{% for k, v in nres.items %}
	<div class="info-card">
	{% if k in l %}
	 	{% for i in l%}
	 		{% for m, n in i.items %}
	 		<h3>m :: n</h3>
	 		{% endfor %}
	 	{% endfor %}
	{% endif %}
	</div>
{% endfor %}
</div>
</div>
</div>

</section>
{% endblock %}